body{
	font-family : "Verdana", Sans-Serif;
	}
th	{
	color : #AAAAAA;
	}
h1	{
	color : #000;
	}
img	{
	margin: 10px;
	padding : 7px 10px 3px 10px;
	float: right;
	}
table{
	border: 2px solid ;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888;
	}
#total{
	text-align: center;
	}
nav	{
	float: "left";
	}
